.height-100 {
  height: 100%;
}
/* .home-result-container {
  height: 78.8%;
}
.opac-planet-padding {
  padding: 43% 0;
}
.opac-padding {
  padding: 32% 0;
} */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {
  .home-result-container {
    height: 68.8%;
  }
  .opac-planet-padding {
    padding: 1% 0;
  }
} */
/* @media (min-width: 768px) {
  .home-result-container {
    height: 89%;
  }
  .opac-planet-padding {
    padding: 55% 0;
  }
  .opac-padding {
    padding: 64% 0;
  }
}
@media (min-width: 992px) {
  .home-result-container {
    height: 85.3%;
  }
  .opac-planet-padding {
    padding: 27% 0;
  }
  .opac-padding {
    padding: 32% 0;
  }
}

@media (min-width: 1200px) {
  .home-result-container {
    height: 80.5%;
  }
  .opac-planet-padding {
    padding: 12% 0;
  }
  .opac-padding {
    padding: 16% 0;
  }
}
 */
.home-result-container {
  // min-height: 89%;
}

