li.nav-item {
  a.nav-link {
    color: #444;
    cursor: pointer;
  }
  a.nav-link:hover {
    color: #ffffff;
    font-weight: bold;
  }
}
nav {
  button.outline-none {
    outline: none;
  }
  a.font-size-20 {
    font-size: 20px;
  }
}
