<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-expand-md bg-info" id="header">
  <!-- brand text -->
  <a class="navbar-brand text-white font-weight-bold font-size-20">{{
    staticContent?.header?.findingFalcon
  }}</a>
  <!-- Toggler/collapsibe button -->
  <button
    class="navbar-toggler outline-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon">
      <i class="fa fa-navicon fa-lg"></i>
    </span>
  </button>
  <!-- right-aligned navbar -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li
        class="nav-item text-center"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" (click)="reset()">{{
          staticContent?.header?.reset
        }}</a>
      </li>
      <li
        class="nav-item text-center"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a
          class="nav-link"
          target="_blank"
          href="https://www.geektrust.in"
          rel="noopener"
          >{{ staticContent?.header?.geekTrustHome }}</a
        >
      </li>
    </ul>
  </div>
</nav>
